.Board {
    text-align: center;
    font-size: 1.4em;
    background-color: #515d6f;
}

.row {
    display: inline-flex;
}

.game {
    text-align: center;
    margin: auto;
    max-width: min-content;
}

.gameOver {
    text-align: center;
    margin: auto;
    max-width: min-content;
    background-color: red;
}

html, body, #root {
    height: 100%;
    overflow-y: hidden;
}

.tile.new, .overlay {
    animation-duration: 1s;
    animation-name: newTile;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
    transform: scale(0);
}
  
@keyframes newTile {
    0% {
        transform: scale(0.5);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(.75);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.5);
    }
}