.Board {
    text-align: center;
    font-size: 1.4em;
    background-color: #515d6f;
    padding: 100px;
    max-width: 60%;
    height: 100%;
    margin: auto;
}

html, body, #root {
    height: 100%;
}

.tile.new, .overlay {
    animation-duration: 0.20s;
    animation-name: newTile;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
    transform: scale(0);
}
  
@keyframes newTile {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}